// 由 Matugen 生成 —— 窗口边框 / 高亮配色
layout {
    focus-ring {
        active-gradient from="{{colors.primary.default.hex}}cc" to="{{colors.secondary.default.hex}}cc" angle=135
        urgent-color "{{colors.error.default.hex}}"
    }
}
recent-windows {
    highlight {
        active-color "{{colors.surface_container.default.hex}}"
        urgent-color "{{colors.error.default.hex}}"
    }
}
